@using DAPTUGWEB.Models;
@model List<GioHang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Layout/MainLayout.cshtml";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "maSP", rowsPerPage: 3);
}

<style type="text/css">
    

    table .table1 {
        text-align: left;
        margin-left: 0px;
        margin-right: 0px;
        width: 800px;
    }

    .tr, .td {
        text-align: center;
        padding-left:40px;
    }
    #giohang {
        border-collapse: collapse;
        width:100%;
    }
        #giohang tr {
          
        }
        #giohang td {
            border: 1px solid #000;
            padding: 8px;
            text-align: center;
            align-items: center;
        }
        #giohang img {
            width: 60px;
            height: 60px;
          
        }
        #tongtien{
            margin-left:auto;
        }
        #giohang #tieude{
           background:black;
          color:white;
          font-weight:700;

        }
    .submit {
        display: block;
        position: relative;
        padding: 11px 30px;
        letter-spacing: 1px;
        background: #212121;
        font-size: 1em;
        color: #fff;
        font-weight: 600;
        border: none;
        outline: none;
        transition: 0.5s all;
        text-transform: uppercase;
    }
</style>
<div class="container">

    <table align="center" border="1" id="giohang">
        <tr id="tieude">
            <td> Ảnh sản phẩm </td>

            <td> Mã sản phẩm </td>

            <td>Tên </td>

            <td>Số lượng</td>

            <td>Đơn giá</td>

            <td>Thành tiền</td>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td><a href="@Url.Action("ChiTietSanPham","SanPham",new { @maSP = item.maSP})"><img src="@Url.Content("~/Image/San_pham/" + item.anhSP)" /></a></td>

                <td>@item.maSP</td>

                <td>@item.tenSP</td>

                <td>@item.soLuong</td>

                <td>@item.donGia</td>

                <td>@item.thanhTien</td>

            </tr>
        }
    </table>
    <br />
    <div class="d-flex">
        <div colspan="6" style="text-align:right">
            @*@Html.ActionLink("Chỉnh sửa giỏ hàng", "SuaGioHang")*@
            <button class="submit mr-5" onclick="location.href='@Url.Action("SuaGioHang", "GioHang")';return false;">Sửa giỏ hàng</button>
        </div>
        <br />
        <div colspan="6" style="text-align:right">
            @using (Html.BeginForm("DatHang", "GioHang"))
            {
                @*<input type="submit" value="Đặt hàng " />*@
                <button class="submit ml-5" type="submit" onclick="location.href='@Url.Action("DatHang", "GioHang")';return false;">Đặt hàng</button>
            }
        </div>
    </div>
</div>
