@using DAPTUGWEB.Models;
@model List<SANPHAM>
@{
    ViewBag.Title = "SanPhamTheoNhaCungCap";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}
<link href="~/css/rightsidebar.css" rel="stylesheet" />
<link href="~/css/index.css" rel="stylesheet" />




<div class="container">

    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb-3">

                <div id="mb_verticle_menu" class="menu-quick-select">

                    <div class="title_block">
                        <span>Danh mục sản phẩm</span>
                    </div>

                    <div id="menuverti" class="block_content navbar_menuvertical">
                        <ul class='nav_verticalmenu'>
                            @Html.Action("LoaiSanPhamPartial", "LoaiSanPham")
                        </ul>
                    </div>

                </div>
                <div id="mb_verticle_menu" class="menu-quick-select">

                    <div class="title_block">
                        <span>Nhà cung cấp</span>
                    </div>

                    <div id="menuverti" class="block_content navbar_menuvertical">
                        <ul class='nav_verticalmenu'>
                            @Html.Action("NhaCungCapPartial", "NhaCungCap")
                        </ul>
                    </div>

                </div>

            </div>

            <div class="col-lg-9">
                <div class="row">
                    <h2 style="color:blue; font-weight:300">@ViewBag.SANPHAM</h2>
                    @{ foreach (var item in Model)
                        {
                            <div onclick="location.href='details.html';" class="product-grid1 col-md-4 ">
                                <div class="product-grid-head">
                                    <ul class="grid-social">
                                        <li><a class="facebook" href="#"><span> </span></a></li>
                                        <li><a class="twitter" href="#"><span> </span></a></li>
                                        <li><a class="googlep" href="#"><span> </span></a></li>
                                        <div class="clear"> </div>
                                    </ul>
                                </div>
                                <div class="product-pic">
                                    <a href="#"><img src="~/Image/San_pham/@item.ANHSP" title="product-name" /></a>
                                    <p>

                                        <span>@item.TENSP</span>
                                    </p>
                                </div>
                                <div class="product-info">

                                    <div class="product-info-cust">
                                        <a href="@Url.Action("../SanPham/ChiTietSanPham", new { @MASP = item.MASP})">Details</a>
                                    </div>
                                    <div class="product-info-price">
                                        <a href="details.html">@((float)item.DONGIA) Đ</a>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                                <div class="more-product-info">
                                    <span> </span>
                                </div>
                            </div>
                        }}
                </div>
            </div>
            <div class="clear"> </div>
        </div>
    </div>

    <div class="clear"> </div>
</div>