@using DAPTUGWEB.Models;
@model SANPHAM
@{
    ViewBag.Title = "ChiTietSanPham";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="~/css/productdetail.css" rel="stylesheet" />




<script src="~/js/productdetail.js"></script>
<link href="~/css/Checkout.css" rel="stylesheet" />
<div id="product">
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="clearfix">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 product-image clearfix">
                                <div class="sp-loading"><img src="~/Image/San_pham/@Model.ANHSP" alt=""><br></div>
                                <div class="sp-wrap">
                                    <a href=""><img src="~/Image/San_pham/@Model.ANHSP"></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 clearfix">
                                <h1 class="name m-b-5"><span>@Model.TENSP</span></h1>
                                <div class="product_price p-b-10">
                                    <div ng-if="IsPromotion==true">
                                        <ins class="m-b-5">@Model.DONGIA.ToString("#,##0") VND</ins>


                                    </div>

                                </div>

                                <div class="product-code p-b-10">Mã sản phẩm: @Model.MASP</div>
                                <div class="product-code p-b-10">Kho: @Model.SLTON</div>
                                <div class="product-code p-b-10">Kích thước: @Model.KICHTHUOC</div>
                                <div role="tabpanel" class="product_description product-tabs panel-group">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <h2><b>CHI TIẾT SẢN PHẨM</b></h2>
                                    </ul>
                                    <div class="tab-content" id="chitiet">
                                        @Model.CHITIETSP
                                    </div>
                                </div>
                                <br />
                                @using (Html.BeginForm("ThemGioHang", "GioHang", new { @maSP = Model.MASP, @url = Request.Url.ToString() }))
                                {
                                    // <input type="submit" value="Thêm vào giỏ hàng">
                                    <button class="submit" type="submit">Thêm vào giỏ hàng</button>
                                }
                            </div>

                          
                        </div>
                    </div>
                </div>

            </div>





        </div>
    </div>
</div>



