@using DAPTUGWEB.Models;
@model SANPHAM


@{
    ViewBag.Title = "ChiTietSanPham";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
<link href="~/css/productdetail.css" rel="stylesheet" />


<style>
    .social-nav li {
        display: inline-block;
        margin: 0 6px;
    }

    .social-nav a {
        display: inline-block;
        float: none;
        width: 30px;
        height: 30px;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        line-height: 30px;
        background: #000;
        position: relative;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    .submit {
        display: block;
        position: relative;
        padding: 11px 30px;
        letter-spacing: 1px;
        background: #212121;
        font-size: 1em;
        color: #fff;
        font-weight: 600;
        border: none;
        outline: none;
        transition: 0.5s all;
        text-transform: uppercase;
    }
</style>


<div id="product">
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="clearfix">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 product-image clearfix">
                                <div class="sp-loading"><img src="~/Image/San_pham/@Model.ANHSP" alt=""><br></div>
                                <div class="sp-wrap">
                                    <a href=""><img src="~/Image/San_pham/@Model.ANHSP"></a>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 checkout-left-basket">

                                <h4>@Html.DisplayFor(model => model.TENSP)</h4>
                                <ul>
                                    <li>Mã sản phẩm  <span>@Html.DisplayFor(model => model.MASP) </span></li>
                                    <li>Kích thước  <span>@Html.DisplayFor(model => model.KICHTHUOC) </span></li>


                                    <li>Kho <span> @Html.DisplayFor(model => model.SLTON) </span></li>
                                    <li>Loại sản phẩm<span> @Html.DisplayFor(model => model.LOAISP.TENLSP)</span></li>

                                    <li>Nhà cung cấp<span>@Html.DisplayFor(model => model.NHACC.TENNCC) </span></li>
                                    <li>Đơn giá  <span>@Html.DisplayFor(model => model.DONGIA) </span></li>
                                </ul>
                                <br />
                                <br />
                                <div class="d-flex">
                                    @using (Html.BeginForm("ThemGioHang", "GioHang", new { @maSP = Model.MASP, @url = Request.Url.ToString() }))
                                    {
                                        // <input type="submit" value="Thêm vào giỏ hàng">
                                        <button class="submit" type="submit">Thêm vào giỏ hàng</button>
                                    }
                                    <button class="submit ml-auto" onclick="location.href='@Url.Action("Index", "Home")';return false;">Mua tiếp</button>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 checkout-left-basket my-4">
                    <h4>chi tiết sản phẩm</h4>
                    <ul>
                        <li>@Model.CHITIETSP</li>
                    </ul>

                </div>
            </div>

           
        </div>
    </div>
</div>







