@using DAPTUGWEB.Models;
@model List<SANPHAM>



@{ foreach (var item in Model.ToList())
    {

        <div class="product-grid1 col-md-4 ">

            <div class="product-pic">
                <a href="@Url.Action("ChiTietSanPham", new { @MASP = item.MASP})"><img src="~/Image/San_pham/@item.ANHSP" title="product-name" /></a>
                <p>

                    <span>@item.TENSP</span>
                </p>
            </div>
            <div class="product-info">
                <div class="product-info-cust">
                    <a href="@Url.Action("ChiTietSanPham", new { @MASP = item.MASP})">Chi tiết</a>
                </div>
                <div class="product-info-price">
                    <a href="@Url.Action("ChiTietSanPham", new { @MASP = item.MASP})">@item.DONGIA.ToString("#,##0") Đ</a>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="more-product-info">
                <span> </span>
            </div>
        </div>

    }

}


