@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />



   
    <link href="~/css/index.css" rel="stylesheet" />
  


    <script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
    <script src="~/js/megamenu.js"></script>

<style>
    #menu{
        font-size: 15px;
        font-weight:600;
        letter-spacing:2px;
        color : black;
        text-decoration:none;
    }
   
</style>

</head>

<body>
    <!-- Thử làm lại nav menu theo cách thường-->
    <nav class="navbar navbar-light bg-dark navbar-expand-md fixed-top">
        @*<span>@Html.ActionLink("DTT SHOES", "../Home")</span>*@
        <span><a href="/Home/Index" id="logo1">DDT SHOES</a></span>
        <button class="navbar-toggler" type="button" data-target="#navResponsive" data-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse top-header-right" id="navResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="mr-2 my-2">@Html.ActionLink("QUẢN TRỊ", "../NhanVien/DangNhap")</li>
                <li class="mr-2 my-2">@Html.Action("GioHangPartial", "GioHang") <span>  </span></li>
                <li class="mr-2 my-2">@Html.ActionLink("ĐĂNG KÝ", "../NguoiDung/DangKy") <span>  </span></li>
                <li class="mr-2 my-2">@Html.ActionLink("ĐĂNG NHẬP", "../NguoiDung/DangNhap")</li>
            </ul>
        </div>
    </nav><br>




    <div class="container">
        <div id="menu" style="margin-top:60px;">
            <div class="menu2">
               
                @Html.ActionLink("NHÂN VIÊN", "../NhanVien/Index", new { @class = "a" })&nbsp;|&nbsp;
                @Html.ActionLink("SẢN PHẨM", "../QuanLySanPham/Index", new { @class = "a" }) &nbsp;|&nbsp;
                @Html.ActionLink("HOÁ ĐƠN", "../QuanLyHoaDon/Index", new { @class = "a" })&nbsp;|&nbsp;
                @Html.ActionLink("TÌM KIẾM", "../QuanLySanPham/TimKiemNC", new { @class = "a" })
                <hr style="display: block;border-top: 1px solid aqua;  margin: 8px 0;" />
            </div>
        </div>
        @RenderBody()
    </div>

    <!---- start-bottom-grids---->
    <!---728x90--->
    <div class="bottom-grids">
        <div class="bottom-top-grids">
            <div class="wrap">
                <div class="bottom-top-grid">
                    <h4>HỔ TRỢ</h4>
                    <ul>
                        <li><a href="contact.html">Liên hệ chúng tôi</a></li>
                        <li><a href="#">Mua ngay</a></li>
                        <li><a href="#">NIKEiD</a></li>
                        <li><a href="#">Nike+</a></li>
                    </ul>
                </div>
                <div class="bottom-top-grid">
                    <h4>ĐẶT HÀNG</h4>
                    <ul>
                        <li><a href="#">Hình thức thanh toán</a></li>
                        <li><a href="#">Giao hàng tận nơi</a></li>
                        <li><a href="#">Hoàn trả</a></li>
                    </ul>
                </div>
                <div class="bottom-top-grid last-bottom-top-grid">
                    <h4>ĐĂNG KÍ</h4>
                    <p>
                        Tạo một tài khoản để quản lý mọi thứ bạn làm với Nike, từ sở thích mua sắm của bạn
                    </p>
                    <a class="learn-more" href="#">Xem thêm</a>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
        <div class="bottom-bottom-grids">
            <div class="wrap">
                <div class="bottom-bottom-grid">
                    <h6>EMAIL</h6>
                    <p>Hãy là người đầu tiên biết về sản phẩm mới và ưu đãi đặc biệt.</p>
                    <a class="learn-more" href="#">Đăng kí ngay</a>
                </div>
                <div class="bottom-bottom-grid">
                    <h6>QUÀ TẶNG</h6>
                    <p>Những món quà ý nghĩa.</p>
                    <a class="learn-more" href="#">Xem thẻ quà</a>
                </div>
                <div class="bottom-bottom-grid last-bottom-bottom-grid">
                    <h6>GẦN BẠN</h6>
                    <p>Tìm cửa hàng bán lẻ Nike hoặc nhà bán lẻ được ủy quyền.</p>
                    <a class="learn-more" href="#">Tìm</a>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
    </div>

    @*<div class="to-top">
            <i class="fas fa-arrow-up"></i>
        </div>*@
    <!---- //End-bottom-grids---->
    <!----//End-image-slider---->
    <!---start-footer---->
    <div class="footer">
        <div class="wrap">
            <div class="footer-left">
                <ul>
                    <li><a href="#">Việt Nam</a> <span> </span></li>
                    <li><a href="#">Đại học Nha Trang</a> <span> </span></li>
                    <li><a href="#">Lớp 61.CNTT-1</a> <span> </span></li>
                    <li><a href="#">Phát triển ứng dụng Web</a> <span> </span></li>
                   
                   
                </ul>
            </div>
            <div class="footer-right">
                <p>
                    &copy; 2022 DTT_Shoes. All rights reserved | <a href=">DAPTUDWEB</a>
                </p>

                <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
            </div>
            <div class="clear"> </div>
        </div>
    </div>

    <!---//End-footer---->

    <script src="~/Scripts/bootstrap.min.js"></script>

</body>

</html>


