@model DAPTUGWEB.Models.SANPHAM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}
<link href="~/css/Checkout.css" rel="stylesheet" />


<div class="container">
    <h4 style="color:red;"> Bạn có chắc chắn xóa thông tin này?</h4>
    <div class="row checkout-left">

        <div class="col-md-6 checkout-left-basket">
            <h4>Bạn có chắc muốn xoá</h4>
            <ul>
                <li>Tên sản phẩm  <span>@Html.DisplayFor(model => model.TENSP) </span></li>
                <li>Kích thước  <span>@Html.DisplayFor(model => model.KICHTHUOC) </span></li>
                <li>Đơn giá  <span>@Html.DisplayFor(model => model.DONGIA) </span></li>

                <li>Kho <span> @Html.DisplayFor(model => model.SLTON) </span></li>
                <li>Loại sản phẩm<span> @Html.DisplayFor(model => model.LOAISP.TENLSP)</span></li>

                <li>Nhà cung cấp<span>@Html.DisplayFor(model => model.NHACC.TENNCC) </span></li>
            </ul>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color d-flex my-4">
                    <input type="submit" value="Xoá" class="submit mr-4" />
                    <button class="submit" onclick="location.href='@Url.Action("Index", "QuanLySanPham")';return false;">Trở về</button>

                </div>
            }
        </div>
        <div class="col-md-4 checkout-left-basket">
            <h4>Ảnh sản phẩm</h4>
            <img src="/Image/San_pham/@Html.DisplayFor(model => model.ANHSP)" width="300" , height="300" />

        </div>
    </div>

</div>