@model DAPTUGWEB.Models.SANPHAM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        var fileupload = $("#Avatar");
        var image = $("#FileUpload");
        image.click(function () {
            fileupload.click();
        });
        fileupload.change(function () {
            var fileName = $(this).val().split('\\')[$(this).val().split('\\').length - 1];
            document.getElementById("ANHSP").value = fileName;
        });
    });
</script>

@using (Html.BeginForm("Edit", "QuanLySanPham", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container">


        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MASP)


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.MALSP, "Mã loại sản phẩm", htmlAttributes: new { @class = "control-label col-md-5 my-3" })
                        <div class="col-md-6">
                            @Html.DropDownList("MALSP", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MALSP, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TENSP, htmlAttributes: new { @class = "control-label col-md-5 my-3" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.TENSP, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TENSP, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DVT, htmlAttributes: new { @class = "control-label col-md-5 my-3" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.DVT, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DVT, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.KICHTHUOC, htmlAttributes: new { @class = "control-label col-md-5 my-3" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.KICHTHUOC, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.KICHTHUOC, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DONGIA, htmlAttributes: new { @class = "control-label col-md-5 my-3" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.DONGIA, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DONGIA, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MANCC, "Mã nhà cung cấp", htmlAttributes: new { @class = "control-label col-md-5 my-3" })
                        <div class="col-md-6">
                            @Html.DropDownList("MANCC", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MANCC, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SLTON, htmlAttributes: new { @class = "control-label col-md-5 my-3" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.SLTON, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SLTON, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CHITIETSP, htmlAttributes: new { @class = "control-label col-md-5 my-3" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.CHITIETSP, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CHITIETSP, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.ANHSP, htmlAttributes: new { @class = "control-label col-md-5 my-3" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ANHSP, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ANHSP, "", new { @class = "text-danger" })
                            <input type="file" name="Avatar" id="Avatar" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-offset-2 col-md-5">
                        <input type="submit" value="Cập nhật" class="submit" />
                    </div>
                    <div class="col-md-offset-2 col-md-5">
                        <button class="submit" onclick="location.href='@Url.Action("Index", "QuanLySanPham")';return false;">Trở về</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
