@model IEnumerable<DAPTUGWEB.Models.SANPHAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/QuanTriLayout.cshtml";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "TENSP", rowsPerPage: 5);
    @Scripts.Render("~/Scripts/jquery-1.6.2.min.js")
}

<style type="text/css">
    .grid-footer {
        color: #000;
        font: 17px Calibri;
        text-align: center;
        font-weight: bold;
       
    }

        .grid-footer a {
            background-color: #ffffff;
            color: black;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            padding: 1px 10px 2px 10px;
        }

            .grid-footer a:active, a:hover {
                background-color: #ffffff;
                color: black;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                text-decoration:none;
               
                transition:linear 0.7s;
            }

    .alternatingRowStyle {
        background-color: aliceblue;
    }

    table .table1 {
        text-align: left;
        margin-left: 0px;
        margin-right: 0px;
        width: 800px;
    }

    .tr, .td {
        text-align: center;
    }
    .submit {
        display: block;
        position: relative;
        padding: 11px 30px;
        letter-spacing: 1px;
        background: #212121;
        font-size: 1em;
        color: #fff;
        font-weight: 600;
        border: none;
        outline: none;
        transition: 0.5s all;
        text-transform: uppercase;
    }
</style>




<div class="container">

    <p>
        @*@Html.ActionLink("Thêm sản phẩm mới", "Create")*@
      
        <button class="submit" onclick="location.href='@Url.Action("Create", "QuanLySanPham")';return false;">Thêm sản phẩm </button>
    </p>
    <br />
    <div id="gridContent">
        @ViewBag.TB
        @grid.GetHtml(
            tableStyle: "table table-bordered table-hover",
            footerStyle: "grid-footer",
            fillEmptyRows: true,
            mode: WebGridPagerModes.Numeric,
            alternatingRowStyle: "alternatingRowStyle",
              columns: new[]  // colums in grid
             {
         grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
        grid.Column("TENSP","Tên sản phẩm"), //the model fields to display

        grid.Column("KICHTHUOC","Kích thước"),
         grid.Column("DONGIA","Đơn giá",format:@<text> @item.DONGIA.ToString("#,##0")</text>),
        grid.Column("SLTON","Số lượng tồn"),
        grid.Column("NHACC.TENNCC","Nhà cung cấp"),
        grid.Column("LOAISP.TENLSP","Loại sản phẩm"),
        //grid.Column(format: (item) => Html.ActionLink("Cập nhật", "Edit", "QuanLySanPham",new { id = item.MaSP },"QuanLySanPhamController")),
        //grid.Column(format: (item) => Html.ActionLink("Xem chi tiết", "Details","QuanLySanPham", new { id = item.MaSP },"QuanLySanPhamController")),
        //// grid.Column(format: (item) => Url.Action("Xem chi tiết", "ChiTietSanPham","SanPham", new { @maSP = item.MaSP })),
        //grid.Column(format: (item) => Html.ActionLink("Xóa", "Delete","QuanLySanPham", new { id = item.MaSP },"QuanLySanPhamController")),

        grid.Column("Chức năng", format: @<text>
            <a href="@Url.Action("Edit",
                        new { id = item.MaSP})" class="edit-btn"><abbr title="Cập nhật dữ liệu"><img src="~/Image/edit.png" width="20" height="20" /></abbr></a>
            <a href="@Url.Action("Details",
                        new { id = item.MaSP})" class="edit-btn"><abbr title="Xem chi tiết"><img src="~/Image/details.png" width="20" height="20" /></abbr></a>
            <a href="@Url.Action("Delete",
                        new { id = item.MaSP})" class="edit-btn">
                <abbr title="Xóa dữ liệu">
                    <img src="~/Image/delete.png" width="20" height="20" />
                </abbr>
            </a>
        </text>),
        }
        )
    </div>
</div>
