@model DAPTUGWEB.Models.HOADON

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Layout/MainLayout.cshtml";
    string tinhtrangdon = "";
    string thanhtoan = "";
}



<div class="container">
    <div class="row checkout-left">

        <div class="col-md-6 checkout-left-basket">
            <h4>Bạn có chắc muốn xoá</h4>
            <ul>
                <li>Mã khách hàng  <span>@Html.DisplayFor(model => model.MAKH) </span></li>
                <li>Mã hoá đơn  <span>@Html.DisplayFor(model => model.MAHD) </span></li>
                <li>
                    Vận chuyển <span>
                        @{if (Model.DAGIAO == true)
                            { tinhtrangdon = "Đã giao"; }
                            else
                            { tinhtrangdon = "Chưa giao"; }
                        }
                        @tinhtrangdon
                    </span>
                </li>
                <li>Ngày đặt <span> @Html.DisplayFor(model => model.TGDAT)</span></li>
                <li>Ngày giao <span> @Html.DisplayFor(model => model.TGGIAO)</span></li>
                <li>
                    Thanh toán <span>
                        @{if (Model.DATHANHTOAN == true)
                            { thanhtoan = "Đã thanh toán"; }
                            else
                            { thanhtoan = "Chưa thanh toán"; }
                        }
                        @thanhtoan
                    </span>
                </li>
                <li>Hình thức thanh toán  <span>@Html.DisplayFor(model => model.THANHTOAN.HTTHANHTOAN) </span></li>
            </ul>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color d-flex my-4">
                    <input type="submit" value="Xoá" class="submit mr-4" />
                    <button class="submit" onclick="location.href='@Url.Action("Index", "QuanLyHoaDon")';return false;">Trở về</button>

                </div>
            }
        </div>


    </div>
</div>