@model IEnumerable<DAPTUGWEB.Models.HOADON>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/QuanTriLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TGDAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TGGIAO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDTHANHTOAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATHANHTOAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DAGIAO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TGDAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TGGIAO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDTHANHTOAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATHANHTOAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DAGIAO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MAHD }) |
            @Html.ActionLink("Details", "Details", new { id=item.MAHD }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MAHD })
        </td>
    </tr>
}

</table>
